footer{
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	height:80px;
	z-index: 10000;
	background:#0000FF; 
	color: white;
	background: url("../images/bottom.jpg");
	}
	footer nav{
		height: 40px;
		margin: 10px 5px 10px 5px;		
	}
footer nav span{
    border: 1px solid orange;
    margin: 0 4px 0 4px;
    box-shadow:0 0 2px grey, 0 0 1px red, 0 0 5px orange, 0 0 5px yellow,0 0 10px red;
	
}
footer nav span:last-child{
    border:none;
    margin: 0;
}
footer nav a {
	font-size: 18px;
	line-height:30px;
	text-shadow:0 0 3px grey, 0 0 1px red, 0 0 10px orange, 0 0 15px yellow,0 0 20px red;
	font-family: 'Advent Pro', sans-serif ;
    font-weight: 700;
	color:white;
	text-decoration: none;
	min-width:900px;
	transition-property:text-shadow;
	transition-duration:300ms;
}
footer nav a:hover{
	text-shadow:0 0 1px white, 0 0 2px grey, 0 0 7px grey, 0 0 15px white, 0 0 18px white,0 0 25px white;
	color:black;
}
footer nav .galerie_choix {
	position:absolute;
	display:block;
	z-index: 2;
	top: 33px;
	left:95px;
}
footer nav .galerie_choix span {

}
footer nav .categorie {
    font-family: 'Advent Pro', sans-serif ;
    font-weight: 700;
	position:absolute;
	display:block;
	z-index: 2;
	top: 53px;
	left:95px;
}