#page_accueil{
    >div{
        position: relative;
        margin: 30px auto;
        width: 1004px;
    }
    >div>div{

    }
    h1{
        float:left;
        margin-left: 30px;
        height:400px;
        width:250px;
        color: #BCC1C4;
        text-align: center;
        text-shadow: 0 0 1px #FFFFFF, 0 0 2px #050100 ,0 0 10px #F8FF6B, 0 0 15px #FF2A00, 0 0 15px #F0ED41, 0 0 20px #DE9D2C, 0 0 30px #FF2A00, 0 0 40px #FF2A00, 0 0 50px #FF2A00, 0 0 75px #FF2A00;
        letter-spacing: 5px;
        font: 55px 'Miso';

    
    }
    #slider{
        float:right;
        overflow: hidden;
        margin-right: 10px;
        height: 300px;
        width:672px;
        border:4px gray solid;
        border-radius:15px;
        //font-size: 30px;
        //text-shadow:0 0 3px gray, 0 0 10px white, 0 0 15px white,0 0 20px white;
        //font-family: impact;
    }
    #presentation_alc{
        margin: 20px 40px 0 40px;
        height:200px;
        width:850px;
        // min-width: ;
        padding:30px;
        background:url('../images/metal-texture-151340.jpg') no-repeat center center;
        
        border:4px gray solid;
        border-radius:15px;
        font-weight:800;
        text-shadow:0 0 1px black, 0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray;
        display: inline-block;
        vertical-align:top;
        legend{
        margin:-50px 0 0 0;
        font-size: 18px;
        text-shadow:0 0 3px grey, 0 0 1px black, 0 0 10px white, 0 0 15px white,0 0 20px white;
        font-style: bold;
        font-family: 'Font-Titre';

        }
    }
}
.orbit-wrapper{
    border-radius: 10px;
}
#featured{
    border-radius: 10px;
    
    img{
        border-radius: 10px;
    }
}