#page_connexion, #page_deconnexion{
	>div{
		position: relative;
		height: 168px;
		width: 358px;
		margin:206px auto;
		>div{
			position: absolute;
			height:168px;
			width: 358px;
		}
			input[type="submit"]{
		background:url("http://reseaupro.univ-paris-diderot.fr/userfiles/image/bouton-connexion.png") ;
		background-size: 120px 40px;
		text-indent: -8000px;
		border:none;
		height: 40px;
		width: 120px;
		display: block;
		margin: 0 auto;
	}

	}
		span{
			position:absolute;
			top:350px;
			width:100%;
			text-align: center;
			display: block;
			z-index: 10;
			a{
				margin:20px auto;
				display: block;
				text-decoration: none;
				color: white;

			}
		}

	#background {
		background: url("../images/rmap.jpg") top left;
		-webkit-animation-name: BGconnect;
		-webkit-animation-duration: 40s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-name: BGconnect;
		-moz-animation-duration: 40s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: infinite;
	}
	#mask{
		background: url("../images/bloc2.png") top left no-repeat;
		padding: 20px;
	}
	p{
		display: block;
		width: 318px;
		margin-bottom: 9px;

	}
	label{
		color: #8C8C8C;
		display: block;
		font-size: 11px;
		position: relative;
	}
	input[type="text"], input[type="password"]{
		margin-top: 2px;
		background: rgba(20,20,20,0.6);
		box-shadow: 0 0 1px 1px rgba(255,255,255,0.3);
		border: none;
		color: #B3B3B3;
		display: block;
		font-size: 11px;
		height: 15px;
		padding: 5px;
		width: 285px;
	}
			#field_mdp_oublie{
			height:200px;
			width:300px;
			margin:60px auto;
			background: rgba(0,0,0,0.5);
			p{
				width:200px;
				margin: 10px auto;
				font-size: 16px;
        		text-shadow:0 0 3px grey, 0 0 1px black, 0 0 10px white, 0 0 15px white,0 0 20px white;
        		//font-style: 700;
        		font-weight: 590;
        		text-align: center;
        		font-family: 'secret';
        		label{
        			color:white;
        			font-style: bold;
        			font-size: 16px;
        			font-family: 'advent pro';
        		}
			}
	input[type="submit"]{
				margin: 20px 45px;

			}

	}
}
#page_deconnexion h1{
	text-align: center;
	color: white;
	width: 100%;
	line-height:168px;
}
#page_membres{
	>div{

        position: relative;
        margin: 5% auto;
        width: 1004px;
    }
    fieldset{
    	width:450px;
    	float:left;
    	overflow:hidden;
    	background: rgba(0,0,0,0.5);
    	padding: 10px;
    	label{
    		height:50px;
    	}
    	legend{
				font-size: 16px;
        		text-shadow:0 0 3px gray, 0 0 10px white, 0 0 15px white,0 0 20px white;
        		text-decoration: bold;
        		font-family: impact;
        		position: absolute;
        		margin: -25px 0 0 0;
    	}


    	#cache:checked ~ label h1{
    	 display:none;
    	}
    	label h4, div{
    		display:none;
    	}
    	#cache:checked ~ label h4,
    	#cache:checked ~ div{
    	 display:block;
    	}
    	h1{
    			font-size: 16px;
        		text-shadow:0 0 3px gray, 0 0 10px white, 0 0 15px white,0 0 20px white;
        		text-decoration: bold;
        		font-family: impact;
    	}
    	div p{
    		margin:5px 0px 0px 10px;
    		text-shadow: 0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray;

    	
    	    #modif_mdp{
	    			float:right;
	    	   		margin-right: 0px;
    			    box-shadow: 0px 0px 4px 2px gray;
					border: 0px none;
					border-radius: 5px 5px 5px 5px;
			}
   			input[type="password"]{
					float:right;
    			width:110px;
    			box-shadow: 0px 0px 4px 2px gray;
				border: 0px none;
				border-radius: 5px 5px 5px 5px;
    		}
			#sup_mdp{
					clear:right;
					margin-right: 55px;
    				width:110px;
    			    box-shadow: 0px 0px 4px 2px gray;
					border: 0px none;
					border-radius: 5px 5px 5px 5px;
			} 
			#sup_compte{
				margin-left: 40px;
    				width:110px;
    			    box-shadow: 0px 0px 4px 2px gray;
					border: 0px none;
					border-radius: 5px 5px 5px 5px;

			}
    		}
    	ul{
    	padding: 10px 25px;
    		list-style-type:none;
    	}
		li{
			float:left;
			display:block;
			width: 100px;
			height: 128px;
			img{
				margin-left:18px;
			}
			a{
				color:white;
				text-decoration: none;
				text-align:center;
			}
		}
    }
	fieldset:first-child{ 
	    margin-right:50px;
	    width:350px;
	    background: rgba(0,0,0,0.5);
	}
}
@-webkit-keyframes BGconnect {
	from{
		background-position: 0px 0px;
	}
	to {
		background-position: -3000px 0px;
	}
}
@-moz-keyframes BGconnect {
	from{
		background-position: 0px 0px;
	}
	to {
		background-position: -3000px 0px;
	}
}