
#page_galerie{
	 #page_galerie_global{
		margin: 10px 2% 0;
		width : 95%;
		height: 400px;
		position:relative;
	}

	#page_galerie_global #presentation_projets{
		float:left;
		position:relative;
		height:250px;
		width:40%;
		margin: 5% 5% 0 2%;
		background:url('../images/metal-texture-151340.jpg') no-repeat center center;
		padding:10px;
		border:4px gray solid;
		border-radius:15px;

	}
	#page_galerie_global #presentation_projets>a{
		position:absolute;
		font-weight:800;
		text-shadow: 0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray;
		display: inline-block;
		vertical-align:top;
		font-family: 'Advent Pro', sans-serif ;
		font-weight: 700;
	}

	#page_galerie_global #presentation_projets #p_footer{
		position:absolute;
		bottom:0px;
		text-align: center; 
		text-shadow: 0 0 2px white,0 0 3px grey,0 0 4px white,0 0 4px gray,0 0 4px gray;
		display: inline-block;
		vertical-align:top;   
		font-family: 'Advent Pro', sans-serif ;
		font-weight: 700;

	}
}




#page_galerie_choix {
	>div{
		position: relative;
		margin: 80px auto 0 auto;
		width: 1024px;
	}
	#liste_projets{
		float:left;
		min-height:250px;
		width:40%;
		margin: 5px 5px 0 2px;

		background:url('../images/metal-texture-151340.jpg') no-repeat center center;
		padding:10px;
		border:4px gray solid;
		border-radius:15px;
	
		#icones_projets{
			display:table;
			>li{
				list-style: none;
				display:table-cell;
				float:left;
				margin: 2% 1% 2% 1%;
				
				a{
					display:block;
					min-height:120px;
					width:90px;
					text-align: center;
					background: rgba(0,0,0,0.4);
					padding:2px;
					border:4px gray solid;
					border-radius:15px;
					text-decoration: none;
					color: white;
					img{
						border-radius: 9px;
					}
				}

			}
		}
	}

	#image_projet{
		position:absolute;
		top:0;
		right:0;
		height:250px;
		width:40%;
		background:red;
		padding:10px;
		border:4px gray solid;
		border-radius:15px;
	}
}
