#page_suivi_projet {
		>div:first-child{
			width: 1004px;
			margin: 40px auto;
		}
		#description_suivi_projets {
			float:left;
			position:relative;
			height:290px;
			width:340px;
			margin: 65px 20px 0px 20px;
			background:url('../images/metal-texture-151340.jpg') no-repeat center center;
			padding:10px;
			border:4px gray solid;
			border-radius:15px;
			legend {
				    font-size: 16px;
        			text-shadow:0 0 3px gray, 0 0 10px white, 0 0 15px white,0 0 20px white;
        			text-decoration: bold;
        			font-family: impact;
			}
			#barre_progression{
				border: solid 3px gray;
				height:17px;
				width: 250px;
				position: relative;
				div{
					height:17px;
					background-color: black;
				}
				span{
					position: absolute;
					top:-1px;
					text-align: center;
					height:17px;
					width: 250px;
				}
			}
			#menu_admin{
				position: absolute;
				top: 330px;
				left: -20px;
				width: 405px;

				border: 2px rgba(255,255,255,0.2) solid;
				background: rgba(255,255,255,0.2);
				border-radius: 5px;
				padding: 2px 5px;

				a{
					display:inline-block;
					padding: 0 5px;
					color:white;
				}
			}
		}
		#liste_image {
		float:left;
		max-height:290px;
		width:235px;
		margin: 70px 0 0 0;
		background:url('../images/metal-texture-151340.jpg') no-repeat center center;
		padding:10px 3px;
		border:4px gray solid;
		border-radius:15px;
		background: rgba(0,0,0,0.2);
		overflow-y: auto;
		overflow-x: hidden;
		box-shadow: inset 0 0 20px  1px rgba(0,0,0,0.5);
		img{
			margin:5px 5px 0 2px;
			border-radius: 10px;
		}
		>h2 {
				    font-size: 16px;
        			text-shadow:0 0 3px gray, 0 0 10px white, 0 0 15px white,0 0 20px white;
        			text-decoration: bold;
        			font-family: impact;
				position: absolute;
        			margin: -25px 0 0 0;
			}
	}
		#image_projet {
			float:left;
			height:300px;
			width:310px;
			background:rgba(0,0,0,0.7);
			margin: 80px 0 0 20px;
			//padding:10px;
			//box-shadow: 0 0 10px 1px rgba(0,0,0,0.4);
			border-radius:15px;
			img{
				border-radius: 15px;
				margin: 5px 5px 5px 5px;
			}
		}


	

}
#admin {
	position: fixed;
	width: 100%;
	height:100%;
	background: rgba(0,0,0,0.8);
	>fieldset{
		background: rgba(0,0,0,0.5);
		width: 345px;
		padding: 10px;
		margin: 200px auto;
		legend{
			text-shadow: 0px 0px 3px gray, 0px 0px 10px white, 0px 0px 15px white, 0px 0px 20px white;
			color:white;
		}
		p{
			min-height: 30px;
			color:white;
			display:block;
		}
		textarea{
			width: 330px;
		}
		input, textarea, button{
			border-radius: 5px;
			padding: 2px 5px;
		}
		input[type="text"]{
			float:right;
		}
		button{
			float:right;
		}
	}
}