
#page_contact {

    >div{
        position: relative;
        margin: 5% auto;
        width: 1024px;
        height: 500px;
    }

        form p{
        margin-bottom: 10px;
    	display: block;
        font-weight:800;
        text-shadow: 0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray;
        display: inline-block;
        vertical-align:top;
        font-family: 'Advent Pro', sans-serif ;
        font-weight: 700;
    	
    }

    #valider input{
        width: 80px;
        min-width:80px;
        float:right;
        margin: 5px auto 10px 80%;
    }


    #question{
        float:left;
        height:200px;
        width:300px;
        min-width: 40px;
        margin: 30px 50px 0 50px;
        background:url('../images/metal-texture-151340.jpg') no-repeat center center;
        padding:30px;
        border:4px gray solid;
        border-radius:15px;
            font-family: 'Advent Pro', sans-serif ;
        font-weight: 700;

        #titre{
        font-size: 16px;
        text-shadow:0 0 3px grey, 0 0 1px black, 0 0 10px white, 0 0 15px white,0 0 20px white;
        font-style: bold;
        font-family: impact;
        }
        input, textarea{
        box-shadow:0 0 4px 2px gray;
        border: 0px;
        border-radius: 5px;
    	min-width: 150px;
        max-height: 85px;
        }
        textarea{
        width: 100%;
        min-width: 200px;
        max-width: 400px;
    	height: 85px;
        min-height: 85px;
        max-height: 85px;

        }
        label{
        font-weight:800;
        text-shadow: 0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray;
    	width: 120px;
    	display: inline-block;
        vertical-align:top;
            font-family: 'Advent Pro', sans-serif ;
        }
    }
    #contact-us{
    float:left;
    height:200px;
    width:225px;
    min-width: 40px;
    margin: 30px 50px 0 120px;
    background:url('../images/metal-texture-151340.jpg') no-repeat center center;
    padding:30px;
    border:4px gray solid;
    border-radius:15px;
    font-weight:800;
    text-shadow: 0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray;
    display: inline-block;
    vertical-align:top;
    display: inline-block;
        font-family: 'Advent Pro', sans-serif ;
        
        #titre{
    	font-size: 16px;
    	text-shadow:0 0 3px gray, 0 0 10px white, 0 0 15px white,0 0 20px white;
    	text-decoration: bold;
    	font-family: impact;
        }
    }
}
