#page_inscription{
    >div{
        position: relative;
        margin: 5% auto;
        width: 1004px;
    }  
    fieldset{
        height:230px;
        width:400px;
        margin: 60px auto 0 auto;
        background:url('../images/metal-texture-151340.jpg') no-repeat center center;
        padding:10px;
        border:4px gray solid;
        border-radius:15px;

        form p{
            .error{
            
            }
            label{
                font-weight:800;
                text-shadow: 0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray,0 0 4px gray;
                display: inline-block;
                margin:5px 3px 0px 0px;
                width:180px;
                vertical-align:top;
                    font-family: 'Advent Pro', sans-serif ;
            } 
            input{
                box-shadow:0 0 4px 2px gray;
                border: 0px;
                border-radius: 5px;
                margin:5px 3px 0px 0px;
                width: 190px;
                max-height: 85px;
            } 
        }
     }   
    #envoyer{
            width: 80px;
        min-width:80px;
        float:right;
        margin: 20px 8% 10px 50%;
    }
}