#page_connexion, #page_deconnexion{
	>div{
		position: relative;
		height: 168px;
		width: 358px;
		margin:206px auto;
		>div{
		position: absolute;
		height:168px;
		width: 358px;
		}
	}
	#background {
		background: url("../images/rmap.jpg") top left;
		-webkit-animation-name: BGconnect;
		-webkit-animation-duration: 40s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-name: BGconnect;
		-moz-animation-duration: 40s;
		-moz-animation-timing-function: linear;
		-moz-animation-iteration-count: infinite;
	}
	#mask{
		background: url("../images/bloc2.png") top left no-repeat;
		padding: 20px;
	}
	p{
		display: block;
		width: 318px;
		margin-bottom: 9px;

	}
	label{
		color: #8C8C8C;
		display: block;
		font-size: 11px;
		position: relative;
	}
	input[type="text"], input[type="password"]{
		margin-top: 2px;
		background: rgba(20,20,20,0.6);
		box-shadow: 0 0 1px 1px rgba(255,255,255,0.3);
		border: none;
		color: #B3B3B3;
		display: block;
		font-size: 11px;
		height: 15px;
		padding: 5px;
		width: 285px;
	}
	input[type="submit"]{
		background:url("http://reseaupro.univ-paris-diderot.fr/userfiles/image/bouton-connexion.png") ;
		background-size: 120px 40px;
		text-indent: -8000px;
		border:none;
		height: 40px;
		width: 120px;
		display: block;
		margin: 0 auto;
	}
}
#page_deconnexion h1{
	text-align: center;
	color: white;
	width: 100%;
	line-height:168px;
}
@-webkit-keyframes BGconnect {
	from{
		background-position: 0px 0px
	}
	to {
		background-position: -3000px 0px
	}
}
@-moz-keyframes BGconnect {
	from{
		background-position: 0px 0px
	}
	to {
		background-position: -3000px 0px
	}
}